<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="assinarTermoComprometimento(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Assinar Termo de Comprometimento</h1>
        <h2> Ao assinar o Termo de Comprometimento, você está consentindo com o andamento do aluguel</h2>
      </div>

      <div class="p-col-12">
        <p><button pButton type="submit" label="Assinar"></button></p>
        <p><button pButton type="submit" label="Voltar" routerLink="/alugueis"></button></p>
      </div>
    </div>
  </form>
</div>
