<div class="container">
  <div class="row">
    <h1 class="mb-6">Cancelar o Aluguel</h1>
      <form #f="ngForm" autocomplete="off" (ngSubmit)="cancelarAluguel(f)">

        <div class="alert alert-danger text" role="alert">
          Declaro que estou sujeito à multa no valor acordado no aluguel, caso eu cancele o aluguel no dia de sua retirada ou durante seu período de vigência.
        </div>

        <div class="p-col-12">
          <button class="btn btn-danger button-style button-cancelar" pButton type="submit" label="Cancelar"></button>
          <br/>
          <button class="btn btn-primary button-style" pButton type="submit" label="Voltar" routerLink="/alugueis"></button>
        </div>
  </form>
  </div>
</div>

