<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h2 class="mb-3">Atualizar Data de Validade da CNH</h2>
      <form #f="ngForm" autocomplete="off" (ngSubmit)="updateDataValidade(f)">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Data de Validade</label><br />
              <p-calendar name="data" dateFormat="dd/mm/yy" [inline]="false"  [(ngModel)]="user.cnh.dataValidade" #data="ngModel" required></p-calendar>
            </div>
          </div>

          <div class="p-col-12">
            <button class="btn btn-primary button-style button-salvar" pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
            <br/>
            <a pButton class="btn btn-primary button-style" label="Meu Perfil" [routerLink]="['/usuarios', user.id]"></a>
          </div>
      </form>
    </div>
  </div>
</div>
