<nav class="navbar">

  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="displayingMenu = !displayingMenu">
	  <i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!displayingMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/veiculos/disponiveis">Alugar um Veículo</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/veiculos">Seus Veículos</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/alugueis">Seus Aluguéis</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a href="#">Logout</a></li>
  </ul>

</nav>
