<nav class="navbar">

  <div class="container">
    <div class="row align-items-start">
      <div class="col-sm-6">
        <img class="logo" src="assets/logo.png" alt="Logo"  width="97" height="32">
      </div>
      <div class="col-sm-6">
        <a href="javascript:;" class="navbar-toggle" (click)="displayingMenu = !displayingMenu">
          <i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!displayingMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="active" *ngIf="auth.hasPermission('ROLE_SEARCH_CAR')"><a routerLink="/veiculos/disponiveis">Alugar um Veículo</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" *ngIf="auth.hasPermission('ROLE_SEARCH_CAR')"><a routerLink="/veiculos/new">Cadastrar um Veículo</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" *ngIf="auth.hasPermission('ROLE_SEARCH_CAR')"><a routerLink="/veiculos">Meus Veículos</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" *ngIf="auth.hasPermission('ROLE_SEARCH_RENTAL')"><a routerLink="/alugueis">Meus Aluguéis</a></li>
    <li class="navbar-menuitem" routerLinkActive="active" *ngIf="auth.hasPermission('ROLE_SEARCH_RENTAL')"><a [routerLink]="['/usuarios', auth.jwtPayload?.usuario_id]">Meu Perfil</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
