.navbar {
  padding: 20px 0 10px;
  background-color: #8aa8cd;
}

.navbar-toggle {
  color: #000;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #a1c4ee;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d2d1d1;

  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #000;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-menuitem.active {
  background-color: #8aa8cd;
}
