<div class="container">
  <div class="row">
    <h2 class="mb-6">Registrar a Devolução do Veículo</h2>
      <form #f="ngForm" autocomplete="off" (ngSubmit)="entregarVeiculo(f)">

        <div class="alert alert-danger text" role="alert">
          Ao confirmar a entrega, você confirma que o usuário locatário realizou a devolução.
        </div>

        <div class="p-col-12">
          <button class="btn btn-success button-style button-entregar" pButton type="submit" label="Entregar"></button>
          <br/>
          <button class="btn btn-primary button-style" pButton type="submit" label="Voltar" routerLink="/alugueis"></button>
        </div>
      </form>
  </div>
</div>
