<div class="container">

  <div class="p-col-12">
    <h1>Meus Veículos</h1>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="veiculos" responsiveLayout="stack" [breakpoint]="'768px'">
        <th class="col-actions-header"></th>
        <ng-template pTemplate="header">
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Placa</th>
            <th>Quilometragem</th>
            <th>Combustível</th>
            <th>Opcionais</th>
            <th>CRLV</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-veiculos>
          <tr>
            <td>
              <span class="p-column-title">Marca</span>
              {{ veiculos.marca }}
            </td>
            <td>
              <span class="p-column-title">Modelo</span>
              {{ veiculos.modelo }}
            </td>
            <td>
              <span class="p-column-title">Cor</span>
              {{ veiculos.cor }}
            </td>
            <td>
              <span class="p-column-title">Placa</span>
              {{ veiculos.placa }}
            </td>
            <td>
              <span class="p-column-title">Quilometragem</span>
              {{ veiculos.quilometragem }} km
            </td>
            <td>
              <span class="p-column-title">Combustível</span>
              {{ veiculos.combustivel }}
            </td>
            <td>
              <span class="p-column-title">Opcionais</span>
              {{ veiculos.opcionais }}
            </td>
            <td>
              <span class="p-column-title">CRLV</span>
              <a pTooltip="Visualizar" [routerLink]="['/veiculos/crlv', veiculos.id]">Visualizar CRLV</a>
            </td>
            <td>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/veiculos', veiculos.id]"></a>
            </td>
            <td>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmRemoval(veiculos)"   [disabled]="!auth.hasPermission('ROLE_REMOVE_CAR')"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td>
               Nenhuma veículo cadastrado.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p><a pButton label="Novo Veículo" routerLink="/veiculos/new"></a></p>
    </div>
  </div>
</div>
