<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h2 class="mb-3">{{ editing ? 'Editar' : 'Cadastrar' }} Veículo</h2>
      <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-2 text-primary">Dados do Veículo</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="marca">Marca</label><br />
            <input pInputText name="marca" id="marca" type="text" [(ngModel)]="veiculo.marca" #marca="ngModel" required>
            <app-message [control]="marca" error="required" text="Informe a Marca do Veículo"></app-message>
          </div>

          <div class="col-md-4 mb-3">
            <label for="modelo">Modelo</label><br />
            <input pInputText name="modelo" id="modelo" type="text" [(ngModel)]="veiculo.modelo" #modelo="ngModel" required>
            <app-message [control]="modelo" error="required" text="Informe o Modelo do Veículo"></app-message>
          </div>

          <div class="col-md-4 mb-3">
            <label for="cor">Cor</label><br />
            <input pInputText name="cor" type="text" id="cor" [(ngModel)]="veiculo.cor" #cor="ngModel" required>
            <app-message [control]="cor" error="required" text="Informe a Cor do Veículo"></app-message>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="placa">Placa do Veículo</label><br />
            <input pInputText name="placa" id="placa" type="text" [(ngModel)]="veiculo.placa" #placa="ngModel" required>
            <app-message [control]="placa" error="required" text="Informe a Placa do Veículo"></app-message>
          </div>

          <div class="col-md-4 mb-3">
            <label>Combustível do Veículo</label><br />
            <p-dropdown name="combustiveis" [options]="combustiveis" placeholder="Selecione"
            [(ngModel)]="veiculo.combustivel" #combustivel="ngModel" required></p-dropdown>
          </div>

          <div class="col-md-4 mb-3">
            <label>Opcionais do Veículo</label><br />
            <textarea pInputTextarea name="opcionais" [(ngModel)]="veiculo.opcionais"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-2 text-primary">CRLV</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="renavam">Renavam</label><br />
            <input pInputText name="renavam" id="renavam" type="text" [(ngModel)]="veiculo.crlv.renavam" #renavam="ngModel" required>
            <app-message [control]="renavam" error="required" text="Informe o Renavam do Veículo"></app-message>
          </div>

          <div class="col-md-3 mb-3">
            <label for="data">Data de Emissão</label><br />
            <p-calendar name="data" id="data" dateFormat="dd/mm/yy" [inline]="false" [(ngModel)]="veiculo.crlv.dataEmissao" #data="ngModel" required></p-calendar>
            <app-message [control]="data" error="required" text="Informe a Data de Emissão do Renavam do Veículo"></app-message>
          </div>

          <div class="col-md-3 mb-3">
            <label for="cidade">Cidade de Emissão</label><br />
            <input pInputText name="cidade" id="cidade" type="text" [(ngModel)]="veiculo.crlv.cidadeEmissao" #cidade="ngModel" required>
            <app-message [control]="cidade" error="required" text="Informe a Cidade de Emissão do Renavam do Veículo"></app-message>
          </div>

          <div class="col-md-3 mb-3">
            <label for="estado">Estado de Emissão</label><br />
            <input pInputText name="estado" id="estado" type="text" [(ngModel)]="veiculo.crlv.estadoEmissao" #estado="ngModel" required>
            <app-message [control]="estado" error="required" text="Informe o Estado de Emissão do Renavam do Veículo"></app-message>
          </div>
        </div>

        <div>
          <button  class="btn btn-primary button-style" pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <br/>
          <a pButton class="btn btn-primary button-voltar button-style" label="Meus Veículos" routerLink="/veiculos"></a>
        </div>
      </form>
    </div>
  </div>
</div>
