
<div class="container">

  <div class="p-col-12">
    <h1>Meus Aluguéis</h1>
  </div>

  <div>
    <div>
      <p-table [value]="alugueis">
        <th class="col-actions-header"></th>
        <ng-template pTemplate="header">
          <tr>
            <th>Status</th>
            <th>Veículo</th>
            <th>Locador</th>
            <th>Valor</th>
            <th>Retirada</th>
            <th>Local de Retirada</th>
            <th>Previsão de Entrega</th>
            <th>Local de Entrega</th>
            <th>Consentimento do Locatário</th>
            <th>Comprometimento do Locador</th>
            <th>Entrega</th>
            <th>Multa</th>
            <th>Cancelar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aluguel>
          <tr>
            <td>
              <span class="p-column-title">Status do Aluguel</span>
              {{ aluguel.status }}
            </td>
            <td>
              <span class="p-column-title">Veículo</span>
              {{ aluguel.veiculo.marca }} {{ aluguel.veiculo.modelo }}
            </td>
            <td>
              <span class="p-column-title">Locador</span>
              {{ aluguel.locador.nome }}
            </td>
            <td>
              <span class="p-column-title">Valor</span>
              R${{ aluguel.valor }}
            </td>
            <td>
              <span class="p-column-title">Data de Retirada</span>
              {{ aluguel.dataRetirada }}
            </td>
            <td>
              <span class="p-column-title">Local de Retirada</span>
              {{ aluguel.localRetirada.logradouro }}, <br />
              {{ aluguel.localRetirada.numero }}, <br />
              {{ aluguel.localRetirada.bairro }}
            </td>
            <td>
              <span class="p-column-title">Data Prevista de Entrega</span>
              {{ aluguel.dataPrevistaEntrega }}
            </td>
            <td>
              <span class="p-column-title">Local de Entrega</span>
              {{ aluguel.localEntrega.logradouro }}, <br />
              {{ aluguel.localEntrega.numero }}, <br />
              {{ aluguel.localEntrega.bairro }}
            </td>
            <td>
              <span class="p-column-title">Consentimento do Locatário</span>
              <a pTooltip="Exibir Termo de Consentimento" tooltipPosition="top" [routerLink]="['/alugueis/consentimento/', aluguel.id]">Visualizar Termo</a>
              <br />Assinado em {{ aluguel.termoConsentimento.assinaturaLocatario }}
            </td>
            <td>
              <span class="p-column-title">Comprometimento do Locador</span>
              <span *ngIf="aluguel.termoComprometimento != null">
                <a pTooltip="Exibir Termo de Comprometimento" tooltipPosition="top" [routerLink]="['/alugueis/comprometimento/', aluguel.id]">Visualizar Termo</a>
                <br />Assinado em {{ aluguel.termoComprometimento.assinaturaLocador }}
              </span>
              <span *ngIf="usuario === aluguel.locador.id && aluguel.termoComprometimento == null">
                <a class="a-row-edit" [routerLink]="['/alugueis', aluguel.id, 'comprometimento']">Assinar Termo</a>
              </span>
            </td>
            <td>
              <span class="p-column-title">Data de Entrega</span>
              {{ aluguel.dataEntrega }}
              <span *ngIf="usuario === aluguel.locador.id && aluguel.termoComprometimento != null && aluguel.dataEntrega == null && aluguel.dataPrevistaEntrega <= data_hoje" >
                <a class="a-row-edit" [routerLink]="['/alugueis', aluguel.id, 'entrega']">Registrar Devolução</a>
              </span>
            </td>
            <td>
              <span class="p-column-title">Valor da Multa</span>
              <span *ngIf="aluguel.termoConsentimento.valorMulta != null">
                R$
              </span>
              {{ aluguel.termoConsentimento.valorMulta }}
            </td>
            <td class="col-actions">
              <span *ngIf="aluguel.status !== 'CANCELADO'">
                <button pButton icon="pi pi-times-circle" pTooltip="Cancelar" tooltipPosition="top" [routerLink]="['/alugueis', aluguel.id, 'cancelamento']"></button>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td>
               Nenhum aluguel cadastrado.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p><a pButton routerLink="/veiculos/disponiveis">Alugar um Veículo</a></p>
    </div>
  </div>
</div>
