
<div class="container">

  <div class="p-col-12">
    <h1>Aluguéis</h1>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="alugueis" responsiveLayout="stack" [breakpoint]="'768px'">
        <th class="col-actions-header"></th>
        <ng-template pTemplate="header">
          <tr>
            <th>Valor</th>
            <th>Local de Retirada</th>
            <th>Local de Entrega</th>
            <th>Data Retirada</th>
            <th>Data Entrega</th>
            <th>Data Prevista de Entrega</th>
            <th>Período</th>
            <th>Locador</th>
            <th>Locatário</th>
            <th>Veículo</th>
            <th>Termo Comprometimento</th>
            <th>Termo Consentimento</th>
            <th>Valor da Multa</th>
            <th>Status Aluguel</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aluguel>
          <tr>
            <td>
              <span class="p-column-title">Valor</span>
              R${{ aluguel.valor }}
            </td>
            <td>
              <span class="p-column-title">Local de Retirada</span>
              {{ aluguel.localRetirada.logradouro }}, {{ aluguel.localRetirada.numero }}, {{ aluguel.localRetirada.bairro }}
            </td>
            <td>
              <span class="p-column-title">Local de Entrega</span>
              {{ aluguel.localEntrega.logradouro }}, {{ aluguel.localEntrega.numero }}, {{ aluguel.localEntrega.bairro }}
            </td>
            <td>
              <span class="p-column-title">Data de Retirada</span>
              {{ aluguel.dataRetirada }}
            </td>
            <td>
              <span class="p-column-title">Data de Entrega</span>
              {{ aluguel.dataEntrega }}
              <span *ngIf="usuario === aluguel.locador.id && aluguel.dataEntrega == null && aluguel.dataPrevistaEntrega <= data_hoje" >
                <a class="a-row-edit" [routerLink]="['/alugueis', aluguel.id, 'entrega']">Registrar Devolução</a>
              </span>
            </td>
            <td>
              <span class="p-column-title">Data Prevista de Entrega</span>
              {{ aluguel.dataPrevistaEntrega }}
            </td>
            <td>
              <span class="p-column-title">Período</span>
              {{ aluguel.periodo }}
            </td>
            <td>
              <span class="p-column-title">Locador</span>
              {{ aluguel.locador.nome }}
            </td>
            <td>
              <span class="p-column-title">Locatário</span>
              {{ aluguel.locatario.nome }}
            </td>
            <td>
              <span class="p-column-title">Veículo</span>
              {{ aluguel.veiculo.marca }} {{ aluguel.veiculo.modelo }}
            </td>
            <td>
              <span class="p-column-title">Termo Comprometimento</span>
              Mensagem: {{ aluguel.termoComprometimento.mensagem }}
              Data Assinatura: {{ aluguel.termoComprometimento.assinaturaLocador }}
              <span *ngIf="usuario === aluguel.locador.id && aluguel.termoComprometimento.assinaturaLocador == null">
                <a class="a-row-edit" [routerLink]="['/alugueis', aluguel.id, 'comprometimento']">Assinar Termo</a>
              </span>
            </td>
            <td>
              <span class="p-column-title">Termo Consentimento</span>
              Mensagem: {{ aluguel.termoConsentimento.mensagem }}
              Data Assinatura: {{ aluguel.termoConsentimento.assinaturaLocatario }}
            </td>
            <td>
              <span class="p-column-title">Valor da Multa</span>
              R${{ aluguel.termoConsentimento.valorMulta }}
            </td>
            <td>
              <span class="p-column-title">Status do Aluguel</span>
              {{ aluguel.status }}
            </td>

            <td class="col-actions">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td>
               Nenhum aluguel cadastrado.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p><a pButton routerLink="/veiculos/disponiveis">Alugar um Veículo</a></p>
    </div>
  </div>
</div>
